<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
	<div th:fragment="formMahasiswa" class="container">
		<form th:action="@{${linkSubmit}}" method="post" th:object="${mahasiswa}">
			<div class="form-group col-7">
				
				<input th:field="*{id}" hidden="true"/>
				<input th:field="*{npm}" hidden="true"/>
				<label>Nama Lengkap</label> <input
					type="text" class="form-control" name="nama" th:field="*{nama}" data-validation="required"/> <br />
				<label>Tempat Lahir</label> <input type="text"
					class="form-control" name="tempatLahir" th:field="*{tempatLahir}" /> <br />
				<label>Tanggal Lahir</label> <input
					type="text" class="form-control" name="tanggalLahir" th:field="*{tanggalLahir}" /> <br />
				<label>Jenis Kelamin</label> 
					<div class="input-group" id="jenisKelamin">
						
						<select class="custom-select" th:field="*{jenisKelamin}">
							<option th:each="data, i : ${options_jk}"  th:attr="selected=(*{jenisKelamin} == ${data})" th:value="${i.index}" th:text="${data}"></option>
						</select>
					</div>
					<br/>
				<label>Agama</label>
					<div class="input-group" id="agama">
												<select class="custom-select" th:field="*{agama}">
							<option th:each="data : ${options_agama}" th:attr="selected=(*{agama} == ${data})" th:value="${data}" th:text="${data}"></option>
						</select>
					</div>
					<br />
				<label>Golongan Darah</label>
					<div class="input-group" id="golonganDarah">
						
						<select class="custom-select" th:field="*{golonganDarah}">
							<option th:each="data : ${options_goldar}"  th:attr="selected=(*{golonganDarah} == ${data})" th:value="${data}" th:text="${data}"></option>
						</select>
					</div>
					<br />
				<label>Tahun Masuk</label> <input
					type="text" class="form-control" name="tahunMasuk" placeholder="" th:field="*{tahunMasuk}" /> <br />
				<label>Jalur Masuk</label>
					<div class="input-group" id="jalurMasuk">
						
						<select class="custom-select" th:field="*{jalurMasuk}">
							<option th:each="data : ${options_jalur_masuk}"  th:attr="selected=(*{jalurMasuk} == ${data})" th:value="${data}" th:text="${data}"></option>
						</select>
					</div>
					<br />
				<label>Id Program Studi</label> <input type="text"
					class="form-control" name="npm" placeholder="" th:field="*{idProdi}"/> <br />	
				<button class="btn btn-primary" type="submit" role="button">Simpan</button>
			</div>
		</form>
	</div>
</body>
</html>